@page
@model RazorPages.Pages.Students.CreateModel;

<div class="card-body">
    <form method="post">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary pl-3">Create Student</h2>
                <hr />
            </div>

            <div class="mb-3">
                Name:
                <input type="text" name="Name">
            </div>
            <div class="mb-3">
                Address:
                <input type="text" name="Address">
            </div>
              </div>
            <button class="btn btn-sm btn-primary" type="submit">&nbsp;Save</button>

    </form>
</div>
</div>